.lop{
  float: left;
  
  margin: 0 auto;
    
}
.llo{
    width: 70rem;
    margin: 0 auto;
}
.tt{
    width: 200px;
}
.pagination > button{
    border: 1px solid wheat;
    background-color: beige;
    width: 40px;
    margin-left: 0px;
}